<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="icon" href="{% static 'img/logo3.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Olá {{ request.user.first_name}} {{ request.user.last_name}}!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user-logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Customers
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
        <h1>Dashboard</h1>

        <!-- Exibição dos valores -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Earnings (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ monthly_earnings }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Expenses (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ monthly_expense }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Difference</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ difference }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar Saldos
        </button>
        
        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar entradas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'update_value' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="monthlyEarnings" class="form-label">Enter Monthly Earnings</label>
                            <input type="number" step="0.01" class="form-control" id="monthlyEarnings" name="monthlyEarnings" required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <button type="submit" class="btn btn-success">Adicionar Saldos</button>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>


         <!-- Button trigger modal -->
         <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
            Adicionar Gastos
        </button>
        
        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Saidasz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulário para subtrair valor -->
                    <form method="POST" action="{% url 'subtract_value' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="monthlyExpense" class="form-label">Monthly Expense:</label>
                            <input type="number" step="0.01" class="form-control" id="monthlyExpense" name="monthlyExpense" required>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <button type="submit" class="btn btn-danger">Adicionar Gastos</button>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
                </div>
            </div>
            </div>
        </div>
       

        

        <div class="d-flex mt-lg-5">
              <!-- Gráfico de Saldo Adicionado -->
            <div class="col-xl-6">
                <canvas id="addedBalanceChart" style="max-width: 400px; max-height: 400px;"></canvas>
            </div>

            <!-- Gráfico de Saídas Adicionadas -->
            <div class="col-xl-6">
                <canvas id="addedExpenseChart" style="max-width: 400px; max-height: 400px;"></canvas>
            </div>
        </div>
          
    </div>
    <!-- End of content-wrapper -->
  </main>

  <script>
    // Obtém os valores de saldo adicionados e saídas adicionadas do contexto do template
    var addedBalanceData = {
        labels: ["Earnings", "Expenses"],
        datasets: [{
            label: 'Added Balance',
            data: [{{ monthly_earnings }}, {{ monthly_expense }}],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    };

    var addedBalanceOptions = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    // Cria o gráfico de saldo adicionado
    var addedBalanceChart = new Chart(document.getElementById('addedBalanceChart'), {
        type: 'pie',
        data: addedBalanceData,
        options: addedBalanceOptions
    });

    // Cria o gráfico de saídas adicionadas
    var addedExpenseData = {
        labels: ["Expenses"],
        datasets: [{
            label: 'Added Expenses',
            data: [{{ monthly_expense }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    };

    var addedExpenseOptions = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    var addedExpenseChart = new Chart(document.getElementById('addedExpenseChart'), {
        type: 'pie',
        data: addedExpenseData,
        options: addedExpenseOptions
    });

    // Obtém os dados de diferença ao longo do tempo do contexto do template
    var differenceOverTimeData = {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [{
            label: 'Difference Over Time',
            data: [100, 200, 300, 400, 500, 600], // Substitua esses valores pelos seus dados reais
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    };

    var differenceOverTimeOptions = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

</script>

</body>

</html>