<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="icon"  href="{% static '/img/logo1.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/default.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
</head>

<body class="d-flex align-items-center justify-content-center py-4 "style="background-color:#f3f0e6; height: 100vh;">

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url '' %}"><img style="width: 60px;" src="{% static '/img/logo1.png' %}" alt=""> Bamboo.io</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bamboo.io</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url '' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'my_login' %}" class="nav-link active"> Login</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'register' %}" class="link-success"> SingUp</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>


    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1  class="text-center" style="color: #74c947;">Bamboo.io</h1>
                <h3 class="text-center text-muted">Login an account</h3>
                <br>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group">
               
                            <div class="form-floating  col-sm-12">
                                {{ loginform.username }}
                                <label for="floatingInputValue">Username</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            {{ loginform.username.erros }}
                        </div>
                        <br>

                        <div class="form-group">
        
                                <div class="form-floating col-sm-12">
                                    {{ loginform.password }}
                                    <label for="floatingInputValue">Password</label> 
                                </div>

                            <div class="col-sm-5">
                                {{ loginform.password.erros }}
                            </div>
                        </div>
                        <p class="text-center" id="create_account">Don't have an account? <a style="color: #74c947;" class="text" href="{% url 'register' %}" class="btn">Register
                                here</a>
                        </p>
                        <div class="form-group">
                            <button style="background-color: #74c947; color: white;" class="btn col-sm-12" type="submit">Login</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {

            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>
 