<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon"  href="{% static '/img/logo1.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/default.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

<style>
    li{
        color: red;
        list-style: none;
    }
</style>
</head>

<body class="d-flex align-items-center justify-content-center py-4 "style="height: 100vh;">

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url '' %}"><img style="width: 60px;" src="{% static '/img/logo1.png' %}" alt=""> Bamboo.io</a>
          </div>
          
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img style="width: 60px;" src="{% static '/img/logo1.png' %}" alt="">Bamboo.io</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url '' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'my_login' %}" class="nav-link active"> Login</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'register' %}" class="link-success"> SingUp</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1  class="text-center" style="color: #74c947;">Bamboo.io</h1>
                <h3 class="text-center text-muted">Sign Up account</h3>
                <br>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="form-floating col-sm-12">
                                {{ registerform.first_name }}
                                <label for="floatingInputValue">First Name</label> 
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="form-floating col-sm-12">
                                    {{ registerform.last_name }}
                                    <label for="floatingInputValue">Last Name</label> 
                                </div>

                        </div>
                        <br>

                        <div class="form-group">
                                <div class="form-floating col-sm-12">
                                    {{ registerform.username }}
                                    <label for="floatingInputValue">Username</label> 
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.username.erros }}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="form-floating col-sm-12">
                                    {{ registerform.email }}
                                    <label for="floatingInputValue">Email</label> 
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.email.errors }} 
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="form-floating col-sm-12">
                                    {{ registerform.password1 }}
                                    <label for="floatingInputValue">Password</label>   
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.password1.errors }} 
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="form-floating col-sm-12">
                                    {{ registerform.password2 }}
                                    <label for="floatingInputValue">Confirm assword</label>  
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.password2.errors }} 
                            </div>
                        </div>
                        <p class="text-center" id="create_account">By continuing, you agree to our  <a style="color: #74c947;" class="text" href="{% url 'register' %}" class="btn">terms of service.</a>
                        </p>
                        <div class="form-group">
                            <button style="background-color: #74c947; color: white;" class="btn col-sm-12" type="submit">Sign up</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</body>

</html>
