<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/default.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

<style>
    li{
        color: red;
    }
</style>
</head>

<body class="d-flex align-items-center justify-content-center py-4 "style="height: 100vh;">



    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <h1>FINTECH</h1>
                    <h1 class=" text-primary">.X</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" height="25" width="36" viewBox="0 0 576 512"><path fill="#0d6efd" d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                </div>
                <h3 class="text-center text-muted">Sign Up account</h3>
                <br>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ registerform.first_name }}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="col-sm-12">
                                    {{ registerform.last_name }}
                                </div>

                        </div>
                        <br>

                        <div class="form-group">
                                <div class="col-sm-12">
                                    {{ registerform.username }}
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.username.erros }}
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="col-sm-12">
                                    {{ registerform.email }}
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.email.errors }} 
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="col-sm-12">
                                    {{ registerform.password1 }}  
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.password1.errors }} 
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                                <div class="col-sm-12">
                                    {{ registerform.password2 }} 
                                </div>

                            <div class="col-sm-5">
                                {{ registerform.password2.errors }} 
                            </div>
                        </div>
                        <p class="text-center" id="create_account">By continuing, you agree to our  <a class="text-primary" href="{% url 'register' %}" class="btn">terms of service.</a>
                        </p>
                        <div class="form-group">
                            <button class="btn btn-primary  col-sm-12" type="submit">Sign up</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</body>

</html>
